
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


/arduFPGA_game_console_arduboy_emulator_tcr.dir/
/impl_1/
arduFPGA_game_console_arduboy_emulator_tcl.html
drc.log
gen_embedded.log
pyout.log
tmp_synthesis.log
